<%- include('partials/_header') -%>
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital contact_heading">Register</h1>
               </div>
            </div>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-12">
                     <% if(flashMessages){ %> 
                        <% if(flashMessages.success){ %> 
                            <div class="alert alert-success"> 
                                <%= flashMessages.success %> 
                            </div> 
                    
                        <% } else if(flashMessages.error){ %> 
                            <div class="alert alert-danger"> 
                                <%= flashMessages.error %> 
                            </div> 
                        <% } %> 
                    <% } %> 
                     <div class="mail_section map_form_container">
                        <form action="/users" method="POST">
                           <input type="text" class="mail_text" placeholder="Name" name="name">
                           <input type="text" class="mail_text" placeholder="Email" name="email">
                           <input type="password" class="mail_text" name="password" id="" placeholder="Password">
                           <button type="submit" class="btn btn-primary mt-4 btn-lg">Register</button>
                        </form>
                        <div class="map_main map_container">
                           <div class="map-responsive">
                              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="368" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                              <div class="btn_main">
                                 <div class="map_bt d-flex justify-content-center w-100 map_center"><a href="#" id="showForm">Form</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      <%- include('partials/_footer') -%>